<%- include('../partials/header') %>
<div class='childHeader'>
    <img src='/' class="rounded float-left" alt="...">
    <h3 >Kieran is 2 years old</h3><br>
    <p>  some stuff about kieran</p>
</div>
<button>Edit Profile</button><br><br>   
<div id='milestones'><br>
    <h4>Anticipated Milestones</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>elit. Fugiat iste facilis dignissimos ipsa<br> enim fuga nam vel consectetur recusandae vero est necessitatibus soluta, modi, magnam maxime sit. Dolor, impedit laudantium.</p>
</div><br><br>
<div id='events'>
    <h4 class='eventTitle'>Recorded Milestones</h4>
    <button class='eventTitle'>New</button><br><br>
    <table id='eventsTable' class="table">
        <thead>
        <tr>
            <th scope="col">View</th>
            <th scope="col">Date</th>
            <th scope="col">Milestone Title</th>
            <!-- <th scope="col">Milestone Type</th> -->
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            <% user.child.forEach(function(c) { %>
                <tr>
                    <td>
                    <form action="/user/child/<%= c._id %>" method="GET">
                        <button type="submit">View</button>
                    </form>
                    </td>
                    <td><%= c.childName %></td>
                    <td><%= c.dob %></td>
                    <td>
                        <form action="/user/child/<%= c._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer') %>