<%- include('../partials/header') %>

<h1>
    <% if (user) { %>
    <%= user.name %>
    <% } %>
</h1><br><br>
<div id='child' class="form-row">
    <h2>Your Children:</h2>
    <button type="button" id='addChild'>Add Child</button>
</div>
<table class="table">
    <thead>
        <tr>
        <th scope="col">View</th>
        <th scope="col">Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>
        <% user.child.forEach(function(c) { %>
            <tr>
                <td>
                <form action="/user/child/<%= c._id %>" method="GET">
                    <button type="submit">View</button>
                </form>
                </td>
                <td><%= c.childName %></td>
                <td><%= c.dob %></td>
                <td>
                    <form action="/user/child/<%= c._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>
